// Headlines

%hdln-prim {
  color: $color-primary;
  margin-left: 10px;
}

%hdln-sec {
  font-weight: $font-weight--normal;
  color: $color-text;
}

// Buttons

%btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $br;
  transition: background-color 0.3s ease-in-out;
}

// Columns

%col {
  margin-top: 10px;
  flex-basis: $full-flex;
  min-height: 25px;
  padding: 10px;
  border-radius: $br;
}

// Flex layout

%flex {
  display: flex;
  flex-direction: column;
}
