// Form input labels

@mixin hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Centered layout

@mixin centered-layout($margin-top: null, $max-width: null) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-top;
  max-width: $max-width;
}

// Column flex basis

@mixin col-flex-basis {
  @for $i from 1 through 12 {
    &-#{$i} {
      flex-basis: 8.33% * $i;
    }
  }
}

// Column colors

@mixin col-theme {
  @each $theme, $color in $col-colors {
    &.#{$theme} {
      background-color: $color;
    }
  }
}

// Media query

@mixin mq($break) {
  @media (min-width: $break) {
    @content;
  }
}

// Button colors

@mixin btn-theme {
  @each $theme, $color in $btn-colors {
    &-#{$theme} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 15%);
      }
    }
  }
}

@mixin flex-layout {
}
