// Media query

@mixin mq($break) {
  @media (min-width: $break) {
    @content;
  }
}

// Form input labels

@mixin hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Centered layout

@mixin centered-layout() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column flex basis

@mixin col-flex-basis($col-count) {
  @for $i from 1 through $col-count {
    &-#{$i} {
      flex-basis: ($full-flex / $col-count) * $i;
    }
  }
}

// Column colors

@mixin col-theme {
  @each $theme, $color in $col-colors {
    &-#{$theme}.theme {
      background-color: $color;
    }
  }
}

// Button colors

@mixin btn-theme {
  @each $theme, $color in $btn-colors {
    &-#{$theme} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 15%);
      }
    }
  }
}

// Sibling margins

@mixin doubly($margin: 10px) {
  & + & {
    margin-left: $margin;
  }
}
