// Form input labels

@mixin hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Centered layout

@mixin centered-layout($margin-top: null, $max-width: null) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-top;
  max-width: $max-width;
}

// Button colors

@each $theme, $color in $btn-colors {
  .#{$theme} {
    background-color: $color;
  }
}

// Column colors

@each $theme, $color in $col-colors {
  .theme.#{$theme} {
    background-color: $color;
  }
}

// Column flex basis

@mixin col-flex-basis {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: 8.33% * $i;
    }
  }
}
