/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  @include flex-layout(null, null);

  &__legend {
    @extend %hdln-sec;
  }

  &__input {
    @include centered-layout($margin-top: 10px, $w: 94%);
    border: none;
    padding: 10px;
    border-bottom: 5px solid $color-primary;
  }

  &__label {
    @include hidden;
  }
}
