/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: $full-flex;

  &__input {
    @include centered-layout;
    margin-top: 10px;
    width: 94%;
    border: none;
    padding: 10px;
    border-bottom: 5px solid $color-primary;
  }

  &__label {
    &--hidden {
      @include hidden;
    }
  }
}
