/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @media #{$break-wide} {
    @include centered-layout($max-width: 1400px);
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @media #{$break-wide} {
    flex-direction: row;
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: $br;
}

.card {
  flex-basis: 100%;
}
