/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @include mq($break-wide) {
    @include centered-layout($max-width: 1400px);
  }
}

.centered {
  @include mq($break-wide) {
    @include centered-layout;
  }
}

.row {
  @include flex-layout($basis: null);
  padding: 1em 10px;

  @include mq($break-wide) {
    flex-direction: row;
  }
}

.col {
  @include col-theme;

  @include mq($break-wide) {
    @include col-flex-basis;
  }
}

[class^="col"] {
  @extend %col;

  @include mq($break-wide) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;

    & + & {
      margin-left: 10px;
    }
  }
}

.card {
  @include flex-layout(null, null);
}
