/* ============================================= */
/*              Images                           */
/* ============================================= */

[class^="img"] {
  @include centered-layout;
  margin-top: 10px;
  max-width: 100%;
}

.img {
  &-avatar {
    max-height: 100%;
  }

  &-frame {
    padding: 13px;
    border: 1px solid $color-img-brdr;
  }

  &-logo {
    @include mq($break-wide) {
      margin: 0;
    }
  }
}
