/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $stack-lato;
  color: $color-text;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline {
  &-primary {
    @extend %hdln-prim;
  }

  &-secondary {
    @extend %hdln-sec;
  }
}

.link {
  color: $color-secondary;
  font-weight: $font-weight--bold;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $font-weight--normal;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: $br;
}
